<select [(ngModel)]="player" (ngModelChange)="updateSelectedPlayer(player)" class="player-select">
    <option *ngFor="let player of players" [ngValue]="player">{{player.name}}</option>
</select>

{{player | json}}

<div class="playerCard" *ngIf="player">
  <img class="player-img" src="assets/{{ player.picture }}"/>

  <section class="player-info">
    <div class="player-info-header" >
        <div class="player-club--badge"></div>
      <div class="player-info-header--wrapper">
        <h1 class="player-name">{{ player.name }}</h1>
        <h2 class="player-position">{{ player.positionInfo }}</h2>
        <!--<img class="player-club--badge" src="../../assets/badges_sprite.png" alt="">-->
      </div>
    </div>
    <dl class="stats-box">
      <span class="stats-box--row" >
        <dt>Appearances</dt>
        <dd>{{ player.stats.appearances}}</dd>
      </span>
      <span class="stats-box--row" >
        <dt>Goals</dt>
        <dd>{{ player.stats.goals}}</dd>
      </span>
      <span class="stats-box--row" >
        <dt>Assist</dt>
        <dd>{{ player.stats.goal_assist}}</dd>
      </span>
      <span class="stats-box--row" >
        <dt>Goals per match</dt>
        <dd>{{ player.goalsPerMatch | number: '1.2-2'}}</dd>
      </span>
      <span class="stats-box--row" >
        <dt>Passes per minute</dt>
        <dd>{{ player.passesPerMinute | number: '1.2-2' }}</dd>
      </span>
    </dl>
  </section>

</div>
