.player-select {
    display: flex;
    background: #eaeaea;
    border: none;
    width: 268px;
    height: 40px;
    margin: 10px auto;
}

.player-info{
    background: #e90053;
    position: absolute;
    bottom: 0;
    width: 100%;
    
}

.player-info-header{
    display: flex;
    width: 270px;
    margin: 0 auto;

}

.player-info-header--wrapper{

}

.stats-box{
    display: flex;
    width: 270px;
    flex-wrap: wrap;
    margin: 0 auto;
}
.stats-box dt{
    text-transform: capitalize;
    margin: 0;
}
.stats-box dd{
    margin: 0;
    font-weight: bold;
}

.stats-box--row{
    background: #eaeaea;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    padding: 10px;
}

.player-name{
    color: white;
    padding-top: 20px;
    margin: 0;
    font-size: 22px;
}
.player-position{
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0;
    font-size: 16px;
}
.player-club--badge{
    display: block;
    width: 82px;
    height: 82px;
    background: url('../../assets/badges_sprite.png') no-repeat;
    position: absolute;
    right: 10px;
    top: -60px;
    border-radius: 50% 50%;
}
.player-img{ 
    position: absolute;
    bottom: 52%;
    left: 5%;
    height: 209px;
}