/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

app-root{
    display: block;
    height: 400px;
    background: url('/assets/background_pattern.png') no-repeat;
    background-position: top right;
}